---
import PostCard from '../../../components/PostCard.astro'
import { storyblokEditable } from '@storyblok/astro'
import type { FeaturedBlogPostListStoryblok } from '@root/storyblok-component-types/component-types-sb'

interface Props {
    blok: FeaturedBlogPostListStoryblok
}

const { blok } = Astro.props

function getFeaturedUrl(path: string) {
    return path.split('/').join('/featured/')
}
---

<div {...storyblokEditable(blok)}>
    <h2 class="text-6xl text-primary font-bold text-center mb-12">
        {blok.heading}
    </h2>
    <ul class="grid grid-cols-1 gap-6 md:grid-cols-3">
        { blok.posts.map((article: any) => {
            article.content.slug = article.slug
            return (
                <li>
                    <PostCard
                        content={article.content.body[0]}
                        url={getFeaturedUrl(article.path)}
                        source="featured"
                    />
                </li>
            )
            })
        }
    </ul>
</div>
