/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.wrapper {
        display: grid;
        grid-template-columns:
            1fr
            min(1000px, 100% - 4rem)
            1fr
    }
    .wrapper > * {
        grid-column: 2;
    }
    .full-bleed {
        width: 100%;
        grid-column: 1 / 4;
    }

    /*
    Similar to tailwind prose, this is a utility class for typography,
    However, it is intended to be used with non-article content, such as
    the content of a page's header or footer.
    */
    .content {

        h1 {
            @apply text-3xl sm:text-5xl font-semibold leading-[110%] ;
        }

        h2 {
            @apply text-4xl font-bold leading-relaxed;
        }

        h3 {
            @apply text-2xl font-bold leading-relaxed;
        }

        p {
            @apply text-base;

            &.sub-2 {
                @apply sm:text-lg font-light;
            }
            &.sub-3 {
                @apply text-sm;
            }
        }
    }
}