---
import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'

const { blok } = Astro.props
---

<div {...storyblokEditable(blok)} class="bg-base-100 h-[300px] mt-40 w-full flex justify-center">
    <div class="flex flex-col max-w-[1000px] w-full h-full justify-between py-2">
        <div class="flex justify-between">
            <div>
                {
                    blok.logo.map((subBlok: any) => {
                        return <StoryblokComponent blok={subBlok} />
                    })
                }
            </div>
            <div class="w-80">
                {
                    blok.contactInformation.map((subBlok: any) => {
                        return <StoryblokComponent blok={subBlok} />
                    })
                }
            </div>
        </div>
        <div id="extraLinks" class="flex gap-4 items-center">
            <p class="text-base-100">{blok.copywrite}</p>
            <span class="text-base-100">|</span>
            {
                blok.extraLinks.map((subBlok: any) => {
                    return (
                        <StoryblokComponent blok={subBlok} />
                        <span id="linkSeparator" class="text-base-100">|</span>
                    )
                })
            }
        </div>
    </div>
</span>

<style scoped>
    #extraLinks #linkSeparator:last-child {
        visibility: hidden;
    }
</style>
