---
import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'

const { blok } = Astro.props
---

<div {...storyblokEditable(blok)} class="flex items-center gap-4 justify-center">
    <ul class="menu menu-horizontal">
        {
            blok.secondaryItems.map((subBlok: any) => {
                return (
                    <li>
                        <StoryblokComponent blok={subBlok} />
                    </li>
                )
            })
        }
    </ul>
    <div>
        {
            blok.primaryItems.map((subBlok: any) => {
                return <StoryblokComponent blok={subBlok} />
            })
        }
    </div>
</span>
