---
import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'

const { blok } = Astro.props
---

<div {...storyblokEditable(blok)} class="navbar bg-base-100 justify-center">
    <div class="navbar-start max-w-[500px]">
        {
            blok.leftSide.map((subBlok: any) => {
                return <StoryblokComponent blok={subBlok} />
            })
        }
    </div>
    <div class="navbar-end max-w-[500px]">
        {
            blok.rightSide.map((subBlok: any) => {
                return <StoryblokComponent blok={subBlok} />
            })
        }
    </div>
</div>
