---
import { storyblokEditable } from '@storyblok/astro'

const { blok } = Astro.props
console.log(blok.call_to_action_link)
---

<div class="hero" {...storyblokEditable(blok)}>
    <div class="content hero-content flex-col items-start md:flex-row md:items-center">
        <!-- Banner Header -->
        <h2 class="max-w-[500px]">
            {blok.heading}
        </h2>
        <!-- Banner Subtext & CTA -->
        <div class="flex flex-col gap-4 text-left">
            <p class="sub-2">
                {blok.subtext}
            </p>
            <a href={'/' + blok.call_to_action_link.cached_url} class="btn btn-primary max-w-fit">
                {blok.call_to_action}
            </a>
        </div>
    </div>
</div>