---
import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'

const { blok } = Astro.props

let itemCount = 0
let itemPaginatorCount = 0
---

<div {...storyblokEditable(blok)} class="carousel w-full">
    {
        blok.items.map((blok: any) => {
            itemCount++
            return <div id={`item${itemCount}`} class="carousel-item w-full">
                <StoryblokComponent blok={blok} />
            </div>
        })
    }
</div>
<div class="flex justify-center w-full py-2 gap-2">
    {
        blok.items.map(() => {
            itemPaginatorCount++
            return <a href={`#item${itemPaginatorCount}`} class="btn btn-xs">
                {itemPaginatorCount}
            </a>
        })
    }
</div>