---
import { storyblokEditable } from '@storyblok/astro'
import SocialsBar from '../components/SocialsBar.astro'

const { blok } = Astro.props
---

<div {...storyblokEditable(blok)} class="card bg-base-100 max-w-[800px] mx-auto overflow-clip">
    <div class="flex w-full h-full">
        <div class="bg-base-300 card-body max-w-[300px] content gap-4">
            <div>
                <h3>{blok.heading}</h3>
                <p class="sub-3">{blok.subheading}</p>
            </div>
            <div class="grow">
                <span class="flex items-center gap-2">
                    <i class="icon-[mdi--phone] text-secondary" />
                    <p class="font-semibold">{blok.phone_number}</p>
                </span>
                <span class="flex items-center gap-2">
                    <i class="icon-[mdi--mail] text-secondary" />
                    <p class="font-semibold">{blok.email}</p>
                </span>
            </div>
            <SocialsBar />
        </div>
        <div class="card-body">
            <form class="flex flex-col gap-6">
                <div class="flex gap-4">
                    <label class="form-control w-full max-w-xs">
                        <div class="label">
                            <span class="label-text">First Name</span>
                        </div>
                        <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
                    </label>
                    <label class="form-control w-full max-w-xs">
                        <div class="label">
                            <span class="label-text">Last Name</span>
                        </div>
                        <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
                    </label>
                </div>
                <div class="flex gap-4">
                    <label class="form-control w-full max-w-xs">
                        <div class="label">
                            <span class="label-text">Email</span>
                        </div>
                        <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
                    </label>
                    <label class="form-control w-full max-w-xs">
                        <div class="label">
                            <span class="label-text">Phone Number</span>
                        </div>
                        <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
                    </label>
                </div>
                <div class="flex flex-col">
                    <label for="amount" class="label">How many people work at your company?</label>
                    <div class="flex gap-2">
                        <div class="form-control">
                            <label class="label cursor-pointer">
                                <span class="label-text">1 - 10</span>
                                <input type="radio" name="radio-10" class="radio checked:bg-primary" checked />
                            </label>
                        </div>
                        <div class="form-control">
                            <label class="label cursor-pointer">
                                <span class="label-text">11 - 100</span>
                                <input type="radio" name="radio-10" class="radio checked:bg-primary" checked />
                            </label>
                        </div>
                        <div class="form-control">
                            <label class="label cursor-pointer">
                                <span class="label-text">101 - 500</span>
                                <input type="radio" name="radio-10" class="radio checked:bg-primary" checked />
                            </label>
                        </div>
                        <div class="form-control">
                            <label class="label cursor-pointer">
                                <span class="label-text">500+</span>
                                <input type="radio" name="radio-10" class="radio checked:bg-primary" checked />
                            </label>
                        </div>
                    </div>
                </div>
                <label class="form-control">
                    <div class="label">
                        <span class="label-text">Message</span>
                    </div>
                    <textarea class="textarea textarea-bordered h-24" placeholder="Type Here"></textarea>
                </label>
                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>