---
import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'

const { blok } = Astro.props
---

<div {...storyblokEditable(blok)} class="grid grid-cols-3 gap-4">
    {
        blok.items.map((subBlok: any) => {
            return <StoryblokComponent blok={subBlok} />
        })
    }
</div>
