---
import { storyblokEditable } from '@storyblok/astro'

const { blok } = Astro.props
---

<section {...storyblokEditable(blok)} class="text-center bg-base text-white p-10 flex flex-col md:flex-row items-center py-32">
    <div class="flex flex-col items-start gap-2 relative">
        <div class="absolute -top-8 w-40 rounded-full bg-primary/20 border-primary border text-primary font-thin">New Article</div>
        <h1 class="text-5xl mb-4 text-neutral text-left">{blok.heading}</h1>
    </div>
    <div class="flex flex-col items-center gap-4 text-left">
        <p class="text font-thin text-neutral">{blok.subheading}</p>
        <span class="flex items-start gap-2 w-full">
            <a class="btn btn-secondary btn-outline btn-sm max-w-fit">{blok.secondaryAction}</a>
            <a class="btn btn-primary btn-sm max-w-fit">{blok.callToAction}</a>
        </span>
    </div>
</section>