---
import { storyblokEditable, renderRichText } from '@storyblok/astro'
import type { TextContentStoryblok } from '@root/storyblok-component-types/component-types-sb'

interface Props {
    blok: TextContentStoryblok
}

const { blok } = Astro.props
const content = renderRichText(blok.body)
---


<div {...storyblokEditable(blok)} class="prose prose-lg mx-auto">
    <Fragment set:html={content} />
</div>