---
import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'

const { blok } = Astro.props
---

<script>
    import AOS from 'aos'
    import 'aos/dist/aos.css'

    const sections = document.querySelectorAll('section');
    let first = true;

    sections.forEach(section => {
        if (first) {
            first = false;
            return;
        }
        section.setAttribute('data-aos', 'fade-up');
        section.setAttribute('data-aos-duration', '1000');
        section.setAttribute('data-aos-offset', '100');
        section.setAttribute('data-aos-mirror', 'true');
    });

    AOS.init()
</script>

<main {...storyblokEditable(blok)} class="relative w-full h-fit flex flex-col justify-center items-center min-h-full">
    <div class="w-full z-[2] flex flex-col items-center min-h-screen">
        {
            blok.header?.map((blok: any) => {
                return <StoryblokComponent blok={blok} />
            })
        }
        <div class="w-full flex flex-col gap-32 grow" transition:animate="slide">
            {
                blok.body?.map((blok: any) => {
                    return <StoryblokComponent blok={blok} />
                })
            }
        </div>
        {
            blok.footer?.map((blok: any) => {
                return <StoryblokComponent blok={blok} />
            })
        }
    </div>
</main>
