---
import '../styles/global.css'
---
<head>
    <meta charset="utf-8" />
    <title>Gradient for Business | The modern digital Scantron alternative</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Justin Arnold">
    <meta name="description" content="Discover Gradient for Business: Advanced scanning technology for efficient data processing and decision-making, a smart Scantron alternative.">
    <meta name="keywords" content="Gradient for Business, GradeCam Alternative, Advanced Scanning Solutions, Business Data Analysis, Scantron Alternative, Digital Grading Technology, Corporate Productivity Tools, Efficient Assessment Software, Tech-Driven Business Solutions, Intelligent Data Processing">
    <meta property="og:title" content="Gradient for Business | The modern digital Scantron alternative">
    <meta property="og:description" content="Discover Gradient for Business: Advanced scanning technology for efficient data processing and decision-making, a smart Scantron alternative.">
    <!-- <meta property="og:image" content="path/to/thumbnail.jpg"> -->
    <!-- <meta property="og:url" content="url-to-site.com"> -->
    <!-- <meta name="twitter:card" content="summary_large_image"> -->
</head>