<div class="flex justify-between items-center text-4xl text-white">
    <span class="icon-[mdi--facebook]"></span>
    <span class="icon-[mdi--linkedin]"></span>
    <span class="icon-[mdi--youtube]"></span>
    <span class="icon-[mdi--twitter]"></span>
    <span class="icon-[mdi--instagram]"></span>
</div>