---
import { storyblokEditable } from '@storyblok/astro'
import type { BannerTextStoryblok } from '@root/storyblok-component-types/component-types-sb'

interface Props {
    blok: BannerTextStoryblok
}

const { blok } = Astro.props
---

<div {...storyblokEditable(blok)} class="text-center content my-8">
    <h2>{blok.heading}</h1>
    <p class="sub-2">{blok.subText}</p>
</div>