---
import Head from '../components/AppHead.astro'
import '../styles/global.css'
import BackgroundAnimation from '../components/BackgroundAnimation.astro'
---

<html lang="en" transition:animate="none">
    <Head />
    <body class="min-h-screen bg-base-100">
        <BackgroundAnimation />
        <slot />
    </body>
</html>