---
import Head from '../components/AppHead.astro'
import '../styles/global.css'
import 'aos/dist/aos.css'
import BackgroundAnimation from '../components/BackgroundAnimation.astro'
---

<script>
    import AOS from 'aos'

    const init = () => {
        const sections = document.querySelectorAll('section');
        let first = true;

        sections.forEach(section => {
            if (first) {
                first = false;
                return;
            }
            section.setAttribute('data-aos', 'fade-up');
            section.setAttribute('data-aos-duration', '1000');
            section.setAttribute('data-aos-offset', '100');
            section.setAttribute('data-aos-mirror', 'true');
        });

        AOS.init()
    }

    document.addEventListener('DOMContentLoaded', init);
    document.addEventListener("astro:after-swap", init);
</script>

<html lang="en" transition:animate="fade">
    <Head />
    <body class="min-h-screen bg-base-100 relative">
        <BackgroundAnimation />
        <slot />
    </body>
</html>